<header id="header" {% if page.url === '/' %}class="alt"{% endif %}>

  <!-- Logo -->
  <div class="logo">
    <a href="/"><strong>Hypothesis</strong> <span class="extra">by Pixelarity</span></a>
  </div>

  <!-- Nav -->
  <nav id="nav">
    <!-- Top Level -->
    <ul>
      {% for link in nav %}
      <li {% if page.url === link.url %} class="current"{% endif %}>
        <a href="{{ link.url }}">{{ link.title }}</a>
        {% if link.dropdown.length > 0 %}
        <!-- Second Level -->
        <ul>
          {% for link in link.dropdown %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.submenu.length > 0 %}
            <!-- Third Level -->
            <ul>
              {% for link in link.submenu %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>

</header>
